

.chakra-ui-light{
    background-color: #bad1e6;
    width: 100%;
    height: 100%;
}

html, #root, .App, .home_page, .predictions_page{
    height: 100%;
}

.home {
    display: flex;
}

.stock_box {
    background: #071924;
    border-radius: 0.5rem;
    min-height: 26.7%;
    min-width: 17%;
}
